<div class="loginForm">
    <div class="loginContainer">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>
          
      <button type="submit" (click)="login(username,password)">Login</button>

    </div>
  
    <div class="container">
      <button type="button" (click)="goToRegistration()" class="cancelbtn">Register</button>
      <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
</div>
</div>
  
